.admin_navbar ul, .admin_navbar{
  display: block;
  float: left;
}

.admin_navbar li{
  background: grey;
}

.admin_navbar li a{
  color: white;
  font-weight: bold;
  padding: 15px 50px;
}

.admin_navbar li a:hover{
  color: black;
  background-color: white;
  font-weight: bold;
  transition: 0.3s ease;
}

.user_list-wrapper table{
  width: 100%;
}

.user_list-wrapper table th{
  padding: 0 10px;
}

table{
  max-width: 100%;
  width: 100%;
}

table tr:nth-child(even) {
  background: #CCC;
}

table tr:nth-child(odd) {
  background: #FFF;
}

table .uk-button{
  background: pink;
}

.active{
  background-color: green;
  color: white;
  font-weight: bold;
  max-width: 100px;
  padding: 0 10px;
  text-align: center;
}

.onhold{
  background-color: #F9E04B;
  color: white;
  font-weight: bold;
  max-width: 100px;
  padding: 0 10px;
  text-align: center;
}

.cancelled{
  background-color: red;
  color: white;
  font-weight: bold;
  max-width: 100px;
  padding: 0 10px;
  text-align: center;
}
.war{
  max-width: 150px;
  text-align: center;
}

.warning .war_icon{
  max-width: 50px;
}

.report_table{
  text-align: center;
}

.alerts{
  max-height: 100px;
}
